<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="marhansolutions.com" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/static/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet" />
    <link href="static/css/all.min.css " rel="stylesheet">
    <link href="static/css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="static/css/owl.theme.default.min.css" />
</head>
{% include "header.html" %}


{% block content %}

{% endblock %}


{% include "footer.html" %}
<body>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/mixitup.min.js"></script>
    <script src="static/js/custom.js"></script>
    <script src="static/js/text-ani.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
</body>

</html>