
{% extends "template.html" %}
{% load static %}
{% block title %}
سؤالات موجود
{% endblock %}

{% block content %}
    <header class="header">
        <h1>سؤالات موجود</h1>
    </header>
    <main class="container">
        {% if latest_question_list %}
        <ul class="questions-list">
            {% for question in latest_question_list %}
            <li class="question-item">
                <a href="{% url 'polls:detail' question.id %}" class="question-link">
                    <span class="question-icon"> {{ question.id }}</span>
                    {{ question.question_text }}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="no-questions">هیچ سوالی برای نمایش موجود نیست.</p>
        {% endif %}
    </main>
{% endblock %}