{% extends 'templet.html' %}

{% block title %} Home | Face Analyez  {% endblock %}

{% block content %}
<section class="banner-part banner-top02 position-relative float-start w-100">
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-2 align-items-center g-5">
            <div class="col">
                <div class="text-white">
                    <h2> This service can be for you &
                        <a href="#" class="typewrite" data-period="2000" data-type='[ "Face Analyez", "calculate bmr"]'>
                            <span class="wrap"></span>
                        </a>
                    </h2>
                </div>
            </div>
            <div class="col">
                <figure class="ritu-pic">
                    <img alt="sui" src="static/images/roubt.png" />
                </figure>
            </div>
        </div>
    </div>
</section>
<section class="whate-do d-inline-block w-100">
    <div class="container">
        <h2 class="text-center main-head-text text-white mt-3">Services</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-5 mt-4">
            <div class="col">
                <div class="items-servics d-inline-block w-100">
                    <figure>
                    </figure>
                    <h5> Face Analyez </h5>
                    <p>By receiving your photo, this service can determine a series of information such as age, skin
                        color, gender and many other information.</p>
                    <a href="/login" class="btn btn-blogs"> Let's go
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-up-right-square-fill" viewBox="0 0 16 16">
                                <path
                                    d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z" />
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="items-servics d-inline-block w-100">
                    <figure>
                    </figure>
                    <h5> calculate BMR</h5>
                    <p>This service can calculate your bmr by receiving your weight and height</p>
                    <a href="/BMR" class="btn btn-blogs"> Let's go
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-up-right-square-fill" viewBox="0 0 16 16">
                                <path
                                    d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z" />
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="d-inline-block getst-work-home-06 w-100">
    <div class="container position-relative">
        <div class="insider-div01">
            <div class="row row-cols-1 row-cols-lg-2">
                <div class="col">
                    <figure class="mo">
                        <img alt="sm" src="static/images/get_started_image.png" />
                    </figure>
                </div>
                <div class="col">
                    <h2 class="text-white">Register on our site if you want to use our services</h2>
                    <a href="/login" class="btn btn-subm"> Get Started Now <svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-arrow-up-right-square-fill"
                            viewBox="0 0 16 16">
                            <path
                                d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z" />
                        </svg> </a>
                </div>
            </div>
        </div>
    </div>
</section>
</main>





{% endblock %}
