{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% block content %}
    {% endblock %}
    <footer class="footer">
        <p>برنامه نویس: <a href="https://github.com/MohamadNematizadeh" target="_blank" class="footer-link">محمد نعمتی
                زاده</a> | ساخته شده با Django | کپی‌رایت 2024 ©</p>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>
